.container-fluid{
  background-color: #16232C;
}
.image{
  max-height: 60px;
  max-width: 60px;
  padding-top: 10px;
}
.nav{
  align-items: center;
}
.button{
  padding: 15px;
}
.active {
  color: grey;
}
