<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <ul>
      <ul class="nav navbar-nav">
        <li><a routerLinkActive="active" class="navbar-brand" routerLink="/home"><img class="image" src="assets/images/league.png" alt=""></a></li>
        <li><a routerLinkActive="active" class="navbar-brand" routerLink="/champions">Champions</a></li>
        <li><a routerLinkActive="active" class="navbar-brand" routerLink="/favorites">Favorites!</a></li>
      </ul>
    </ul>
  </div>
</nav>

