.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90vw;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: -6px 23px 44px 0px rgba(0, 0, 0, 0.9);
  padding: 1.5em 2.5em;
  border-radius: 30px;
  background-color: white;
  min-height: 500px;
}
mat-form-field {
  width: 175px;
}
@media (max-width: 768px) {
  .container {
    margin-top: 60px;
  }
}
