<!-- <button mat-raised-button (click)="loggedIn = !loggedIn">Toggle User</button> -->
  <!-- <button mat-raised-button (click)="loggedIn = !loggedIn">Toggle User</button> -->
<section style="text-align: center;overflow: hidden;margin-top: 40px;" *ngIf="loggedIn">
  <div *ngIf="oldUser" class="mat-title">Welcome Back!</div>
  <div *ngIf="!oldUser" class="mat-title">Welcome to League Stat Checker!</div>
</section>
<section *ngIf="!loggedIn" style="margin-top: 60px">
  <div class="spinner-container">
    <mat-spinner color="warn" *ngIf="isLoading" ></mat-spinner>
  </div>
  <div class="spinner-container" *ngIf="error">
    <div class="alert alert-danger">
      {{error}}
    </div>
  </div>
  <form style="text-align: center;overflow: hidden;" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
    <!-- <p *ngIf="!isLoginMode">
      <mat-form-field appearance="standard" style="width: 175px;">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Billy Bob123" type="username" id="username" ngModel name="username" required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>Summoner Name</mat-hint>
      </mat-form-field>
    </p> -->
    <div class="mat-title">Welcome!</div>
    <div class="row">
      <i>Already a user? Login!</i>
    </div>
    <div class="row">
      <i>If not click Sign Up</i>
    </div>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="BillyBob123@email.com" type="email" id="email" ngModel name="email" required email>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password1234" type="password" id="password" ngModel name="password" required password minlength="6">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-hint *ngIf="!isLoginMode" >Must be at least 6 characters</mat-hint>
      </mat-form-field>
    </p>
    <!-- <p *ngIf="!isLoginMode">
      <mat-form-field appearance="fill">
        <mat-label>Region</mat-label >
        <mat-select [(ngModel)]="selectedValue" name="region" type="region" id="region" ngModel name="region" required>
          <mat-option *ngFor="let region of regions" [value]="region.value">
            {{region.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p> -->
    <div class="row" style="align-items: center;">
      <div class="col-md-12">
        <button style="margin: 10px;" mat-raised-button color="primary" type="submit" [disabled]="!authForm.valid" (click)="newOrOld()">{{isLoginMode? 'Login': 'Sign Up'}}</button>
        <button style="margin: 10px;" mat-raised-button color="warn" type="button" (click)="isLoginMode = !isLoginMode" >Switch to {{isLoginMode? 'Sign Up':'Login'}}</button>
      </div>
    </div>
  </form>
</section>
