<ng-container [ngSwitch]="true">
  <div *ngSwitchCase="data.player.individualPosition === null">Unranked</div>
  <div *ngSwitchCase="data.player.individualPosition === 'TOP'">
    <img class="" src="/assets/images/roles/TOP.png" alt="" />
  </div>
  <div *ngSwitchCase="data.player.individualPosition === 'JUNGLE'">
    <img class="" src="/assets/images/roles/JUNGLE.png" alt="" />
  </div>
  <div *ngSwitchCase="data.player.individualPosition === 'MIDDLE'">
    <img class="" src="/assets/images/roles/MIDDLE.png" alt="" />
  </div>
  <div *ngSwitchCase="data.player.individualPosition === 'BOTTOM'">
    <img class="" src="/assets/images/roles/ADC.png" alt="" />
  </div>
  <div *ngSwitchCase="data.player.individualPosition === 'UTILITY'">
    <img class="" src="/assets/images/roles/SUPPORT.png" alt="" />
  </div>
  <div *ngSwitchDefault>Unranked</div>
  <div class="row">
    <mat-card-title>{{ data.player.individualPosition }}</mat-card-title>
  </div>
</ng-container>
<img
  *ngIf="data.player.championName !== 'FiddleSticks'"
  class="championImage img-fluid"
  [src]="
    'https://ddragon.leagueoflegends.com/cdn/' +
    dataDragonVersion +
    '/img/champion/' +
    data.player.championName +
    '.png'
  "
/>
<!-- <img
  [src]="''https://ddragon.leagueoflegends.com/cdn/' + dataDragonVersion + '/img/item/'+ players.item0 +'.png'"
  alt=""
  onerror="this.src='gray.png';"
  style="max-width: 40px; max-height: 40px; border: 1px solid black"
/>
<img
  [src]="''https://ddragon.leagueoflegends.com/cdn/' + dataDragonVersion + '/img/item/'+ players.item1 +'.png'"
  alt=""
  onerror="this.src='gray.png';"
  style="max-width: 40px; max-height: 40px; border: 1px solid black"
/>
<img
  [src]="''https://ddragon.leagueoflegends.com/cdn/' + dataDragonVersion + '/img/item/'+ players.item2 +'.png'"
  alt=""
  onerror="this.src='gray.png';"
  style="max-width: 40px; max-height: 40px; border: 1px solid black"
/>
<img
  [src]="''https://ddragon.leagueoflegends.com/cdn/' + dataDragonVersion + '/img/item/'+ players.item6 +'.png'"
  alt=""
  onerror="this.src='gray.png';"
  style="max-width: 40px; max-height: 40px; border: 1px solid black"
/>
<img
  [src]="''https://ddragon.leagueoflegends.com/cdn/' + dataDragonVersion + '/img/item/'+ players.item3 +'.png'"
  alt=""
  onerror="this.src='gray.png';"
  style="max-width: 40px; max-height: 40px; border: 1px solid black"
/>
<img
  [src]="''https://ddragon.leagueoflegends.com/cdn/' + dataDragonVersion + '/img/item/'+ players.item4 +'.png'"
  alt=""
  onerror="this.src='gray.png';"
  style="max-width: 40px; max-height: 40px; border: 1px solid black"
/>
<img
  [src]="''https://ddragon.leagueoflegends.com/cdn/' + dataDragonVersion + '/img/item/'+ players.item5 +'.png'"
  alt=""
  onerror="this.src='gray.png';"
  style="max-width: 40px; max-height: 40px; border: 1px solid black"
/> -->
