<section *ngIf="showSpinner === false">
  <div
    *ngFor="let champion of champDetails"
    class="container-md"
    [ngStyle]="{
      'background-image':
        'url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' +
        champion.id +
        '_' +
        champion.skins[dialSpecs.value].num +
        '.jpg)'
    }"
  >
    <div class="img-wrp" *ngIf="!seeSplash">
      <button
        mat-mini-fab
        color="white"
        class="goBack"
        routerLink="/champions"
        matTooltip="Go Back"
      >
        <span class="material-icons"> first_page </span>
      </button>
      <!-- <button
        mat-mini-fab
        color="white"
        class="viewSplash"
        matTooltip="View Splash"
      >
        <span class="material-icons"> visibility </span>
      </button> -->
    </div>
    <div class="d-lg-flex justify-content-center" *ngIf="!seeSplash">
      <div class="card">
        <img
          class="img-fluid loadingArt"
          [src]="
            'https://ddragon.leagueoflegends.com/cdn/img/champion/loading/' +
            champion.id +
            '_' +
            champion.skins[dialSpecs.value].num +
            '.jpg'
          "
          alt="..."
          (click)="spellClick(champion)"
        />
        <div class="card-body">
          <h1 class="card-title">{{ champion.name }} {{ champion.title }}</h1>
          <button color="white" mat-raised-button (click)="sendToFavorites()">
            {{ added ? "Added to Favorites!" : "Add to Favorites" }}
            <span *ngIf="added" class="material-icons"> done </span>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="mat-headline" style="margin-top: 10px">Spells</div>
        <div class="row" *ngFor="let spell of champion.spells; let i = index">
          <div class="col-md-5">
            <img
              class="img-fluid w-90 abilities"
              [src]="
                'https://ddragon.leagueoflegends.com/cdn/' +
                dataDragonVersion +
                '/img/spell/' +
                champion.spells[i].image.full
              "
              alt="Spell1"
              (click)="spellClick(champion.spells[i])"
            />
          </div>
          <div class="col-md-7">
            <span>
              <div class="mat-subheading-2 subheadingName">
                {{ champion.spells[i].name }}
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="mat-headline" style="margin-top: 10px">Passive</div>
        <div class="row">
          <div class="col-md-5">
            <img
              *ngIf="champion.passive.image.full === 'SamiraP.Samira.png'"
              class="img-fluid w-90 abilities"
              [src]="
                'https://ddragon.leagueoflegends.com/cdn/' +
                dataDragonVersion +
                '/img/passive/SamiraP.png'
              "
              alt="Passive"
              (click)="spellClick(champion.passive)"
            />
            <img
              *ngIf="champion.passive.image.full === 'YonePassive.Yone.png'"
              class="img-fluid w-90 abilities"
              [src]="
                'https://ddragon.leagueoflegends.com/cdn/' +
                dataDragonVersion +
                '/img/passive/YonePassive.png'
              "
              alt="Passive"
              (click)="spellClick(champion.passive)"
            />
            <img
              *ngIf="
                champion.passive.image.full === 'Lillia_Icon_Passive.Lillia.png'
              "
              class="img-fluid w-90 abilities"
              [src]="
                'https://ddragon.leagueoflegends.com/cdn/' +
                dataDragonVersion +
                '/img/passive/Lillia_Icon_Passive.png'
              "
              alt="Passive"
              (click)="spellClick(champion.passive)"
            />
            <img
              *ngIf="
                champion.passive.image.full !== 'SamiraP.Samira.png' &&
                champion.passive.image.full !== 'YonePassive.Yone.png' &&
                champion.passive.image.full !== 'Lillia_Icon_Passive.Lillia.png'
              "
              class="img-fluid w-90 abilities"
              [src]="
                'https://ddragon.leagueoflegends.com/cdn/' +
                dataDragonVersion +
                '/img/passive/' +
                champion.passive.image.full
              "
              alt="Passive"
              (click)="spellClick(champion.passive)"
            />
          </div>
          <div class="col-md-7">
            <span>
              <div class="mat-subheading-2 subheadingName">
                {{ champion.passive.name }}
              </div>
            </span>
          </div>
        </div>
        <div class="mat-headline" style="margin-top: 10px">ToolTip</div>
      </div>
    </div>
    <div class="sliderContainer">
      <button
        *ngIf="dialSpecs.value !== dialSpecs.min"
        mat-mini-fab
        color="white"
        class="slideButton"
        (click)="goLeft()"
      >
        <span class="material-icons">chevron_left</span>
      </button>
      <button
        *ngIf="dialSpecs.value === dialSpecs.min"
        mat-mini-fab
        color="warn"
        class="slideButton"
        (click)="goLeft()"
      >
        <span class="material-icons">chevron_left</span>
      </button>
      <mat-slider
        class="example-margin"
        [disabled]="dialSpecs.disabled"
        [invert]="dialSpecs.invert"
        [max]="dialSpecs.max"
        [min]="dialSpecs.min"
        [step]="dialSpecs.step"
        [thumbLabel]="dialSpecs.thumbLabel"
        [(ngModel)]="dialSpecs.value"
        [vertical]="dialSpecs.vertical"
        aria-labelledby="example-name-label"
      >
      </mat-slider>
      <button
        *ngIf="dialSpecs.value !== dialSpecs.max"
        mat-mini-fab
        color="white"
        class="slideButton"
        (click)="goRight()"
      >
        <span class="material-icons">navigate_next</span>
      </button>
      <button
        *ngIf="dialSpecs.value === dialSpecs.max"
        mat-mini-fab
        color="warn"
        class="slideButton"
        (click)="goRight()"
      >
        <span class="material-icons">navigate_next</span>
      </button>
    </div>
    <div class="mat-subheading-2 skinName" *ngIf="dialSpecs.value === 0">
      {{ champion.name }}
      <button
        matTooltip="See Splash"
        mat-mini-fab
        color="white"
        [ngStyle]="{ transform: 'scale(0.6)' }"
        (click)="seeSplash = !seeSplash"
      >
        <span class="material-icons"> visibility </span>
      </button>
    </div>
    <div class="mat-subheading-2 skinName" *ngIf="dialSpecs.value !== 0">
      {{ champion.skins[dialSpecs.value].name }}
      <button
        mat-mini-fab
        color="white"
        [ngStyle]="{ transform: 'scale(0.6)' }"
        (click)="seeSplash = !seeSplash"
      >
        <span class="material-icons"> visibility </span>
      </button>
    </div>
  </div>
</section>
<section>
  <section *ngIf="showSpinner === true">
    <div class="container" style="margin: 0 auto; background-color: white">
      <mat-spinner color="warn"></mat-spinner>
    </div>
  </section>
</section>
