mat-sidenav-conatiner{
  height: 100%
}
mat-sidenav, mat-sidenav-content {
  padding: 12px;
  padding-top: 5%;
  height: 100vh;
}
mat-sidenav {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  width: 200px;
}
.navigationButton{
  top: 16px;
  left: 16px;
  position: fixed;
  z-index: 10000;
}
