mat-sidenav-conatiner {
  height: 100%;
}
mat-sidenav,
mat-sidenav-content {
  padding: 12px;
  padding-top: 2.5%;
  height: 100vh;
}
mat-sidenav {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 250px;
}
.navigationButton {
  top: 16px;
  left: 16px;
  position: fixed;
  z-index: 10000;
}
button {
  border: none;
  background-color: #ffffff;
}
.navButtons {
  width: 100%;
  text-align: left;
  cursor: pointer;
}
