<section>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
      <!-- <div class="row">
        <button (click)="opened = !opened" class="mat-display-1">
          <span class="material-icons">menu</span>
        </button>
      </div> -->
      <button
        style="cursor: pointer"
        class="mat-display-1 navButtons"
        (click)="opened = !opened"
      >
        <span class="material-icons"> close </span>
        Close
      </button>

      <button
        style="cursor: pointer"
        routerLink="/home"
        class="mat-display-1 navButtons"
        (click)="opened = !opened"
      >
        <span class="material-icons"> home </span>
        Home
      </button>

      <button
        *ngIf="loggedIn"
        style="cursor: pointer"
        routerLink="/champions"
        class="mat-display-1 navButtons"
        (click)="opened = !opened"
      >
        <span class="material-icons"> sports_mma </span>
        Champions
      </button>

      <i matTooltip="Login to see!">
        <button
          matTooltip="Login to see!"
          *ngIf="!loggedIn"
          routerLink="/champions"
          class="mat-display-1 navButtons"
          [disabled]="!loggedIn"
        >
          Champions
          <span class="material-icons"> lock </span>
        </button>
      </i>

      <button
        *ngIf="loggedIn"
        routerLink="/favorites"
        class="mat-display-1 navButtons"
        (click)="opened = !opened"
      >
        <span class="material-icons"> favorite </span>
        Favorites
      </button>

      <i matTooltip="Login to see!">
        <button
          *ngIf="!loggedIn"
          class="mat-display-1 navButtons"
          [disabled]="!loggedIn"
        >
          Favorites
          <span class="material-icons"> lock </span>
        </button>
      </i>

      <button
        routerLink="/stats"
        class="mat-display-1 navButtons"
        (click)="opened = !opened"
      >
        <span class="material-icons"> query_stats </span>
        Stats
      </button>
      <!-- <div
        class="row"
        style="margin-left: 0; width: fit-content; text-align: left"
      > -->
      <button
        routerLink="/settings"
        (click)="opened = !opened"
        class="mat-display-1 navButtons"
        *ngIf="loggedIn"
      >
        <span class="material-icons"> settings </span>
        Settings
      </button>

      <button
        (click)="opened = !opened"
        (click)="logout()"
        class="mat-display-1 navButtons"
        *ngIf="loggedIn"
      >
        <span class="material-icons"> logout </span>
        log out
      </button>
      <!-- </div> -->
    </mat-sidenav>
    <mat-sidenav-content>
      <button
        class="navigationButton"
        mat-fab
        color="white"
        (click)="opened = !opened"
      >
        <span class="material-icons"> menu </span>
      </button>
      <main [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
