.container {
  width: 800px;
  border: 3px solid black;
  background: rgb(81, 95, 117);
  padding-top: 10px;
  padding-bottom: 10px;
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* grid-gap: 10px; */
  position: relative; top: 100px;
  border-radius: 5px;

}
.gameStats{
}
.ranked{
  position: absolute;
  margin-left: 10px;

}
.float-container{

}
.float-child{
  float: left;
  padding: 20px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 2px;
  padding-top: 25px;
}
.summs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.items {
  border: 1px solid black;
  background-image: url('../../assets/images/gray.png');
}
