.abilities {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: -6px 23px 44px 0px rgba(0, 0, 0, 0.6);
}
.mat-dialog-title {
  text-align: center;
}
.championName {
  color: rgb(255, 217, 0);
  text-shadow: -1px -1px 0 rgb(158, 158, 158), 1px -1px 0 rgb(158, 158, 158),
    -1px 1px 0 rgb(158, 158, 158), 1px 1px 0 rgb(158, 158, 158);
}
.passiveName,
.spellName {
  color: rgb(0, 0, 0);
}
section {
  width: fit-content;
  max-width: 40vw;
  max-height: 200vw;
}
