.container-md{
  min-width: 60vw;
  border: 2px solid black;
  border-radius: 15px;
  padding: 25px;
}
.championImage{
  width: 100%;
  border-radius: 100px;
  border: 1px solid black;
}
.championImage:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.1);
}
.littleChampion{
  cursor: pointer;
  border-radius: 100px;
}
.frown {
  transform: scale(2);
}
mat-grid-tile {
  text-align: center;
}
