<section *ngIf="champions.length !== null && champions.length !== 0">
  <div class="row input">
    <div class="col-12">
      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search in favorites!"
            [(ngModel)]="championSearch"
          />
          <div class="input-group-append">
            <button
              class="material-icons btn btn-outline-secondary"
              type="button"
            >
              search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="champions.length !== 0">
  <div class="champ-container">
    <article class="champ" *ngFor="let champion of champions; let i = index">
      <div class="img-wrp">
        <img
          class="championImage"
          [src]="
            'https://ddragon.leagueoflegends.com/cdn/' +
            dataDragonVersion +
            '/img/champion/' +
            champion.image.full
          "
          (click)="clickedChampion(champion)"
          routerLink="../champions/details/{{ champion.id }}"
        />
        <button
          mat-mini-fab
          color="warn"
          class="remove"
          (click)="removeFromFavorites(i)"
        >
          <span class="material-icons removeIcon"> remove </span>
        </button>
      </div>
      <div class="mat-title">
        {{ champion.name }}
      </div>
    </article>
  </div>
</section>
<section *ngIf="showSpinner === true">
  <div class="row input">
    <div class="col-12">
      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search in favorites!"
            [(ngModel)]="championSearch"
          />
          <div class="input-group-append">
            <button
              class="material-icons btn btn-outline-secondary"
              type="button"
            >
              search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="champ-container">
    <mat-spinner color="warn"></mat-spinner>
  </div>
</section>
<section
  *ngIf="
    champions.length === null ||
    (champions.length === 0 && showSpinner !== true)
  "
>
  <div class="champ-container">
    <div class="mat-display-3">
      Currently you have zero favorites
      <span class="material-icons frown">sentiment_dissatisfied</span>
    </div>
    <div class="mat-display-3">Go add some!</div>
  </div>
  <section></section>
</section>
