
.container.main {
  width: 60vw;
  border: 3px solid black;
  background: rgb(81, 95, 117);
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  grid-gap: 10px;
  position: relative; top: 95px;
  border-radius: 5px;
  display: flex;
}
.card {
  border: 3px solid black;
}
.container.data{

}
