
.container {
  width: 120vw;
  border: 1px solid rgb(255, 255, 255);
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  position: relative; top: 200px;
  display: flex;
  padding-top: 8px;
}
video{
  width: 100%    !important;
  height: auto   !important;
  position: relative;
}
img {
  width: 50%;
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -15%
}
.login{
  width: 10%;
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  left: -15%;
  right: 0;
  top: 80%;
  border: 1px solid white;
}
.signup{
  width: 10%;
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  left: 16%;
  right: 0;
  top: 80%;
  border: 1px solid white;
}
