/* .container {
  width: 120vw;
  border: 1px solid rgb(0, 0, 0);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  position: relative;
  display: flex;
  padding-top: 8px;
}
video{
  width: 100%    !important;
  height: auto   !important;
  position: relative;
}
img {
  width: 50%;
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -15%
}
.login{
  width: 10%;
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  left: -15%;
  right: 0;
  top: 80%;
  border: 1px solid white;
}
.signup{
  width: 10%;
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  left: 16%;
  right: 0;
  top: 80%;
  border: 1px solid white;
} */

.playerIcon{
  max-height: 100px;
  border-radius: 15px;
  border: 1px solid black;
  min-height: 75px;
  min-width: 75px
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90vw;
  max-width: 1080px;
  margin: 0 auto;
  box-shadow: -6px 23px 44px 0px rgba(0,0,0,0.1);
  padding: 1.5em 2.5em;
  border-radius: 30px;
  /* border: 1px solid black; */
  background-color: white;
}
.championImage{
  width: 100%;
  border-radius: 100px;
  /* border: 2px solid black; */
  max-width: 125px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.championImage:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 300ms ease;
}
.champ {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em .25em;
}
.row{
  text-align:center;
  margin:0 auto;
  max-width: fit-content;
  padding-bottom: 5px;
}
@media (max-width: 768px) {
  .champ {
    width: 75px;
  }
  .mat-title{
    display: none;
  }
  .input{
    padding-top: 60px;
  }
}
.material-icons{
  background-color: white!important;
}

