<!-- <div *ngIf="!signup" class="container main">
  <div>
    <video [muted]="true" autoplay playsinline loop>
      <source src="assets/images/LeagueVideo.webm" type="video/webm">
    </video>
    <img src="assets/images/LeagueOfLegends.png" alt="">
    <button class="login btn btn-success" >Login</button>
    <button class="signup btn btn-primary" (click)="signup = !signup">Signup!</button>
  </div>
</div>
<form *ngIf="signup" (ngSubmit)="signingUp(f)" #f="ngForm" style="padding-top: 100px;background-color: aliceblue;">
    <div class="col-sm-5 form-group">
      <label for="username">Summoner Name</label>
      <input
      type="text"
      id="username"
      class="form-control"
      name="username"
      ngModel
      required="username"
      >
    </div>
    <div class="col-sm-5 form-group">
      <label for="email">Email</label>
      <input
      type="text"
      id="email"
      class="form-control"
      name="email"
      ngModel
      >
    </div>
    <div class="col-sm-5 form-group">
      <label for="password">Password</label>
      <input
      type="text"
      id="password"
      class="form-control"
      name="password"
      ngModel
      >
    </div>
    <button (submit)="singup = !singup" class="btn btn-primary" type="submit">Submit</button>
</form> -->
<!-- <section>
  <div class="row region">
    <div class="col-md-12">
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Region</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="region" (selectionChange)="printUsers(selectedValue)" >
            <mat-option *ngFor="let region of regions" [value]="region.value">
              {{region.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
</section> -->
<div class="container">
  <mat-tab-group color="warn">
    <mat-tab label="Welcome!">
      <h1>Welcome!</h1>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Test</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Test</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Test</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Test</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Test</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Test</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Test</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Test</mat-hint>
        </mat-form-field>
      </p>
    </mat-tab>
    <mat-tab label="{{selectedValue}} Leaderboards" *ngIf="newNames.length === 10">
      <form >
        <mat-form-field appearance="fill">
          <mat-label>Region</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="region" (selectionChange)="printUsers(selectedValue)" >
            <mat-option *ngFor="let region of regions" [value]="region.value">
              {{region.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div class="row playerRow" *ngFor="let name of newNames; let i = index" style="margin: 10px;align-items: center;">
        <div class="row" style="text-align: center;padding: 10px;">
          <mat-card-title>Rank: {{i + 1}}</mat-card-title>
          <hr>
        </div>
        <div class="col-md-5">
          <img  class="playerIcon" style="background-image: url(https://ddragon.leagueoflegends.com/cdn/12.8.1/img/profileicon/29.png);cursor: pointer;" [src]="'https://ddragon.leagueoflegends.com/cdn/' + dataDragonVersion + '/img/profileicon/' + name.profileIconId + '.png'" alt="" (click)="playerClick(name.name)">
        </div>
        <div class="col-md-7 subheadingName" style="cursor: pointer;">
          <div matCardTitle>{{name.name}}</div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{selectedValue}} Leaderboards" *ngIf="newNames.length !== 10">
      <div class="container" style="width: auto;">
        <mat-spinner color="warn" ></mat-spinner>
      </div>
    </mat-tab>
    <mat-tab label="Runes">
      <h1>Coming Soon!</h1>
      <div *ngFor="let rune of data2; let i = index">
        <div>{{rune.key}}</div>
        <img src="https://ddragon.canisback.com/img/perk-images/Styles/7200_Domination.png" alt="">
      </div>
    </mat-tab>
    <mat-tab label="Items">
      <h1>Coming Soon!</h1>
      <div class="mat-headline" (click)="log()">
        <div *ngFor="let item of data | keyvalue">
          <div *ngIf="item.value.inStore !== false" [innerHTML]="item.value.name"></div>
          <img *ngIf="item.value.inStore !== false" class="img-fluid w-90 " style="max-height: 50px;" [src]="'http://ddragon.leagueoflegends.com/cdn/12.8.1/img/item/' + item.key + '.png'" alt="">
          <div *ngIf="item.value.inStore !== false" > {{item.value.gold.total}} </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Champions">
      <h1 style="cursor: pointer;" routerLink="../champions">
        Click to jump to champions
      </h1>
    </mat-tab>
  </mat-tab-group>
</div>

